.main {
    display: flex;
    min-height: 100vh;
}
.left {
    background: url('../../assets/images/1.jpg');
}
.right {
    background: #fff;
    align-self: center;
    flex: 0.6;
}

.loginForm {
    padding: 10px;
}
h1 {
    text-align: center;
}